.login, .register, .profil-sity{
    h1{
        color: #fff;
        a{
            display: inline-block;
            margin-left: 120px;
            font-size: 20px;
            text-decoration: none;
            color: green;
        }
    }
}