.container.kinetik-energiya {
    .row {
        .col-md-6 {
            .yashirish-maydoni {
                .btn-group {
                    float: right;
                    span {
                        &:nth-child(2) {
                            .btn {
                                margin-left: 20px;
                                svg{
                                    font-size: large;
                                }
                            }
                        }
                    }
                }
            }
            .clr{
                clear: both;
            }
            .card-columns {
                .card {
                    margin: 10px 2%;
                    &:nth-child(1) {
                        width: 45%;
                        display: inline-block;
                        .card-body {
                            display: flex;
                            .tugmalar-jamlanmasi {
                                margin: 0 auto;
                                button {
                                    border: none;
                                    border-radius: 3px;
                                    background-color: #0000ffbb;
                                    color: #fff;
                                    padding: 0 10px;
                                    &:nth-child(2) {
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        width: 45%;
                        margin-left: 4%;
                        display: inline-block;
                        .card-body {
                            display: flex;
                            .tugmalar-jamlanmasi {
                                margin: 0 auto;
                                button {
                                    border: none;
                                    border-radius: 3px;
                                    background-color: #0000ffbb;
                                    color: #fff;
                                    padding: 0 10px;
                                    &:nth-child(2) {
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3), &:nth-child(4) {
                        margin: 10px 5%;
                        width: 90%;
                        display: inline-block;
                        .card-body {
                            display: flex;
                            .tugmalar-jamlanmasi {
                                margin: 0 auto;
                                button {
                                    border: none;
                                    border-radius: 3px;
                                    background-color: #0000ffbb;
                                    color: #fff;
                                    padding: 0 10px;
                                    &:nth-child(2) {
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .natijalarmaydoni {
                margin: 30px 2% 0 2%;
                overflow: scroll;
                width: 96%;
                border-radius: 15px;
                height: 250px;
            }
        }
    }
}
